body{
    background-color: rgb(250,189,154);

}
.container{
    display:grid;
    margin-right: 20%;
    margin-left: 20%;
    background-color: white;
    border-radius: 10px;
    padding: 0.5%;
    /*margin-top: 50%;*/
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2), 0 30px 40px 0 rgba(0, 0, 0, 0.19);
    margin-top: 4%;
    transition-duration: .3s;
    
}
li{
    display:inline-block;
    padding:0px;
    font-size:30px;
    margin-right: 2%;

}
.Tietz{
    font-family:"Arial Black";
    
    transition-duration: .5s;
}
/*.Tietz:hover{
    color: black;
    
}*/

.nav{

    background-color: rgb(255,237,214);
    margin-left:5%;
    margin-right:5%;
    position: fixed;
    left:10%;
    width:70%;
    height: 8%;
    border-radius: 10px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.2), 0 30px 40px 0 rgba(0, 0, 0, 0.19);
}
.nav.Tietz{
    font-size:50%;
}

.poza{
    padding-left:25%;
    height: 30%;
}
.istoric{
    margin-top: 3%;
    margin-left:10%;
    font-size: 125%;
}
.sectii{
    margin-top: 1%;
    margin-left:10%;
    font-size: 125%;
}
.tabel, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding:1%;
    
}
a{
    color:rgb(78, 36, 11);
    text-decoration: none;
}
footer{
    text-align: center;
    background-color: rgb(44, 30, 21);
    left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  
}
::placeholder{
    text-align: center;
    font-size: 150%;
    font-weight:800;
    color: rgb(184, 163, 152);
}
[type="submit"]{
    padding-left:5%;
    padding-right:5%;
    padding-top: 4%;
    padding-bottom: 4%;
    
    background-color: rgb(195, 131, 93);
    font-size: 130%;
    color: white;
    font-weight: 700;
}
#repartizat{
    font-size: 25px;
}
form{
    text-align: left;
}
legend{
    text-align: left;
}
#picior{
    position: absolute;
}
[type="input"], [type="text"]{
    width:90%;
    height: 2rem;
}
label{
    font-size: 160%;
}
